/*重置样式*/
body,h3,h4,p{
	margin: 0;
}
a{
	text-decoration: none;
	/*解决移动端a标签在点击时出现的阴影颜色*/
	-webkit-tap-highlight-color: transparent;
}
img{
	vertical-align: top;
	border: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
